.h1{
    font-family: 'Oswald', sans-serif;
}
/* 
body{
    roboto, 
    18px size
    color:#384750
    
    header font 
    #333333
*/

.img-fluid{
    max-width: 100% \9;
    height: auto;
}

.footer-row-3{
    background-color: #b51919;
}