.h1 {
    font-family: 'Oswald', sans-serif;
}

/* 
body{
    roboto, 
    18px size
    color:#384750
    
    header font 
    #333333
*/
/* site Container full width */
.container-xl{
    width:96%;
    background-color:#f9f9f9;
    padding-left:0px;
    padding-right:0px;
    padding-left:0px;
    padding-right:0px;
   }
   
   /* Container */
   .container-fluid .container{
    color:#ffffff;
   }
   

   /* Link */
.navbar-nav li a{
    color:#ffffff !important;
    font-weight:600;
    text-transform:uppercase;
    font-size:18px;
    text-shadow:rgb(205, 205, 240) 0px 0px 1px, rgb(0, 0, 0) 0px 0px 1px;
   }
   
   /* Link */
   .navbar-nav ul a{
    color:#444 !important;
    text-shadow:none;
   }
   
   /* Navbar nav Unknowndown */
   #navbarNavDropdown{
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
   }
   
    .nav.navbar-nav.navbar-right li a {
    color: #F6F6F6;
}
/* footer Row 2*/
.footer-row-1 {
    background-color: #F6F6F6;
    color:#333;
    padding:10px;
}
    
   /* footer Row 2*/
   .container-fluid .footer-row-2{
    padding:10px;
    background-color: #dc0714;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
   }
   

.footer-row-3 {
    background-color: #b51919;
}

.navbar_logo {
    width: 64px;
    height: 86px;
}

.navbar-container {
    background-color: #DB0B14;
    height: 60px;
    width: 96%;
    max-width: 1200px;
    margin: auto;

    position: relative;
    display: flex;

}

.banner {
    margin: auto;
    max-width: 100%;

}

.carousel {
    max-width: 70%;
    height: auto;
    padding: 50px 50px 50px 50px;
    margin: auto;
}

.new-article {
    height: auto;
    width: 50%;
    margin: auto;
}

.article-container {
    background-color: #f1f1f1;
    max-width: 80%;
    margin: auto;
}




/* Row */
.header {
    background-color: #db0b14;
}

.navbar-menu li {
    display: inline-block;

}

/* Image */
.header .logo img {
    width: 90px;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-menu li a {
    color: white !important;
}


/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Navbar menu */
.navbar-menu {
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 1px, rgb(0, 0, 0) 0px -1px 1px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 50px;
}

/* Row */
.header {
    min-height: 450px;
    margin-bottom: 70px;
}

/* Nav right */
.nav-right {
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, 0.4);
    padding-top: 0px;
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, 0.4);
    padding-left: 0px;
}

